<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create a Post</title>
</head>
<body>
<form th:fragment="form">
    <div class="form-group">
       <h2> <label class="createPostTitle" for="title">New Post Title: </label></h2>
        <input class="createPostTitleField" id="title" type="text" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <h2> <label class="createPostSnippet" for="snippet">Snippet: </label></h2>
        <input class="createPostSnippetField" id="snippet" type="text" th:field="*{snippet}"/>
    </div>
    <div class="form-group">
        <h2> <label class="createPostBody" for="body"> Body: </label></h2>
        <textarea class="createPostBodyField" id="body" type="text" th:field="*{body}"/>
    </div>


    <button class="btn btn-default createPostSaveButton">Save</button>
</form>
</body>
</html>