body {
    background-image: url("http://i.imgur.com/TLnBpvu.jpg");
    background-position: inherit;
    background-repeat:no-repeat;
    background-color: #F8F8F8;
}

.loginTitle {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.usernameLoginTitle {
    margin-top: 5%;
    /*margin-left: 47%;*/
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
}

.usernameLoginPage {
    margin-left: 26%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.passwordLoginTitle {
    margin-top: 4%;
    /*margin-left: 47%;*/
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.passwordLoginPage {
    margin-left: 26%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.formFieldsLogin {
    width: 50%;
    margin-left: 26%;
    font-family: 'Titillium Web', sans-serif;
}

#loginSubmitButton {
    margin-top: 4%;
    font-family: 'Titillium Web', sans-serif;
}

#loginErrorMessage {
    text-align: center;
}

@media only screen and (max-width: 721px) {
    .loginTitle {
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        font-weight: bold;

    }

    .passwordLoginTitle {
        margin-top: 4%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
        color: black;
    }

    #loginErrorMessage {
        text-align: center;
        color: white;
    }

    #in {
        color:black;
    }

}