body {
    background-image: url("http://i.imgur.com/z5ziSgO.jpg");
    /*background-attachment: local;*/
    /*background-repeat: no-repeat;*/
    background-position: 100%;
    /*background-size: 100%;*/
    background-color: #F8F8F8;
    /*background-origin: content-box;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/


}

#registerTitle {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.formFieldsRegister {
    width: 50%;
    margin-left: 26%;
    font-family: 'Titillium Web', sans-serif;
}

.usernameRegisterPage {
    margin-top: 5%;
    margin-left: 47%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.emailRegisterPage {
    margin-top: 4%;
    margin-left: 48%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.passwordRegisterPage {
    margin-top: 4%;
    margin-left: 47%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

#registerSubmitButton {
    margin-left: 46%;
    margin-top: 4%;
    font-family: 'Titillium Web', sans-serif;
}