<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('title')"/>
<head th:include="fragments :: login('style')"/>
<body>
<nav th:replace="fragments :: my-navbar"/>
<div class="container">
    <div class="row">
        <!--<div id="loginTitleContainer">-->
            <h1 class="loginTitle">Log <span class="loginTitle" id="in">In</span></h1>
        <!--</div>-->
        <div id="loginErrorMessage" class="col l8 offset-l2">
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <label for="username" class="usernameLoginTitle">Username</label>
                <input id="username" class="usernameLoginPage formFieldsLogin form-control" name="username" type="text"/>

                <label for="password" class="passwordLoginTitle">Password</label>
                <input id="password" class="passwordLoginPage formFieldsLogin form-control" name="password" type="password"/>

                <input id="loginSubmitButton" type="submit" class="btn" value="Log In"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>