<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('title')" />
<head th:include="fragments :: register('style')" />
<body>
<nav th:replace="fragments :: my-navbar" />
<div class="container">
    <div class="row">
        <h1 id="registerTitle">Register</h1>
        <div class="col l8 offset-l2">
            <form th:action="@{/users/register}" th:method="POST" th:object="${user}">
                <label class="usernameRegisterPage" for="username">Username</label>
                <input id="username" class="form-control formFieldsRegister" th:field="*{username}" />

                <label class="emailRegisterPage" for="email">Email</label>
                <input id="email" class="form-control formFieldsRegister" th:field="*{email}" />

                <label class="passwordRegisterPage" for="password">Password</label>
                <input id="password" type="password" class="form-control formFieldsRegister" th:field="*{password}" />

                <input id="registerSubmitButton" class="btn" type="submit" />
            </form>
        </div>
    </div>
</div>

</body>
</html>